.card{
    display: grid;
    display: -ms-grid;
    height: 100%;
    grid-gap: 3px;
    grid-template-areas: 
            "cityname cityname cityname"
            "temperature . airqulity"
            "detailouter detailouter detailouter"
            "tommorrow tommorrow tommorrow"
            ;
    grid-auto-rows: 0.5fr 0.5fr 2fr 2fr;
}
