@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('../assets//fonts/ONE\ Mobile\ POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.card{
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 320px);
}

.card > .card-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card > .card-item > .weather{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card > .card-item > .weather > .title{
    font-family: 'ONE-Mobile-POP';
}